# Load Package

In [1]:
from lxml.html import fromstring

import pandas as pd
import numpy as np

import requests
import time
import os

# 데이터 불러오기

In [2]:
hitter = pd.read_csv('선수데이터(전처리완료)/타자.csv')[['선수명', '생년월일']].drop_duplicates()
pitcher = pd.read_csv('선수데이터(전처리완료)/투수.csv')[['선수명', '생년월일']].drop_duplicates()
df = pd.concat([hitter, pitcher]).reset_index(drop=True)
df

      선수명        생년월일
0     김경언  1982-12-07
1     김민철  1982-03-14
2     김상훈  1977-10-27
3     김인철  1971-07-14
4     김종국  1973-09-14
...   ...         ...
1583  김기탁  1998-09-30
1584  오동욱  2001-02-04
1585  윤대경  1994-04-09
1586  장웅정  1997-04-11
1587  한승주  2001-03-17

[1588 rows x 2 columns]

In [3]:
PLAYER_NAMES = list(df['선수명'])
BIRTHDAYS = list(df['생년월일'])

# Crawling

In [4]:
cnt = 0
t1 = time.time()

for PLAYER_NAME, BIRTHDAY in zip(PLAYER_NAMES, BIRTHDAYS):

    # 선수 count용
    cnt += 1
    tmp = pd.DataFrame()
    
    # 1차 url을 대입하여 수집
    url = f'http://www.statiz.co.kr/player.php?opt=11&name={PLAYER_NAME}&birth={BIRTHDAY}'
    res = requests.get(url)
    parser = fromstring(res.text)

    element_nums = len(parser.xpath(f'/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div/div/div[2]/table/tr/td[1]'))
    years = [parser.xpath(f'/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div/div/div[2]/table/tr[{element_num}]/td[1]')[0].text_content() for element_num in range(2, element_nums+2)]
    salarys = [parser.xpath(f'/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div/div/div[2]/table/tr[{element_num}]/td[2]')[0].text_content() for element_num in range(2, element_nums+2)]
    wars = [parser.xpath(f'/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div/div/div[2]/table/tr[{element_num}]/td[3]')[0].text_content() for element_num in range(2, element_nums+2)]

    tmp = pd.DataFrame({'선수명':[PLAYER_NAME] * element_nums,
                        '생년월일':[BIRTHDAY] * element_nums,
                       '연도':years,
                       '연봉':salarys,
                       'WAR':wars})

    if cnt == 1:
        final = tmp.copy()
    else:
        final = pd.concat([final, tmp]).reset_index(drop=True)
    
    
    if cnt % 100 == 0:
        print(f'{cnt}명 완료 == 경과시간: {round(time.time()-t1)}초 == 10초 휴식')
        time.sleep(10)

100명 완료 == 경과시간: 81초 == 10초 휴식
200명 완료 == 경과시간: 294초 == 10초 휴식
300명 완료 == 경과시간: 441초 == 10초 휴식
400명 완료 == 경과시간: 700초 == 10초 휴식
500명 완료 == 경과시간: 777초 == 10초 휴식
600명 완료 == 경과시간: 1001초 == 10초 휴식
700명 완료 == 경과시간: 1098초 == 10초 휴식
800명 완료 == 경과시간: 1210초 == 10초 휴식
900명 완료 == 경과시간: 1448초 == 10초 휴식
1000명 완료 == 경과시간: 1659초 == 10초 휴식
1100명 완료 == 경과시간: 1736초 == 10초 휴식
1200명 완료 == 경과시간: 1827초 == 10초 휴식
1300명 완료 == 경과시간: 1928초 == 10초 휴식
1400명 완료 == 경과시간: 1997초 == 10초 휴식
1500명 완료 == 경과시간: 2102초 == 10초 휴식

In [5]:
cnt = 0
t1 = time.time()

for PLAYER_NAME, BIRTHDAY in zip(PLAYER_NAMES, BIRTHDAYS):

    # 선수 count용
    cnt += 1
    tmp = pd.DataFrame()
    
    # 2차 url을 대입하여 수집
    url = f'http://www.statiz.co.kr/player.php?opt=11&name={PLAYER_NAME}'
    res = requests.get(url)
    parser = fromstring(res.text)

    element_nums = len(parser.xpath(f'/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div/div/div[2]/table/tr/td[1]'))
    years = [parser.xpath(f'/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div/div/div[2]/table/tr[{element_num}]/td[1]')[0].text_content() for element_num in range(2, element_nums+2)]
    salarys = [parser.xpath(f'/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div/div/div[2]/table/tr[{element_num}]/td[2]')[0].text_content() for element_num in range(2, element_nums+2)]
    wars = [parser.xpath(f'/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div/div/div[2]/table/tr[{element_num}]/td[3]')[0].text_content() for element_num in range(2, element_nums+2)]

    tmp = pd.DataFrame({'선수명':[PLAYER_NAME] * element_nums,
                        '생년월일':[BIRTHDAY] * element_nums,
                       '연도':years,
                       '연봉':salarys,
                       'WAR':wars})

    if cnt == 1:
        final2 = tmp.copy()
    else:
        final2 = pd.concat([final2, tmp]).reset_index(drop=True)
    
    
    if cnt % 100 == 0:
        print(f'{cnt}명 완료 == 경과시간: {round(time.time()-t1)}초 == 10초 휴식')
        time.sleep(10)

100명 완료 == 경과시간: 135초 == 10초 휴식
200명 완료 == 경과시간: 397초 == 10초 휴식
300명 완료 == 경과시간: 614초 == 10초 휴식
400명 완료 == 경과시간: 656초 == 10초 휴식
500명 완료 == 경과시간: 745초 == 10초 휴식
600명 완료 == 경과시간: 805초 == 10초 휴식
700명 완료 == 경과시간: 848초 == 10초 휴식
800명 완료 == 경과시간: 1124초 == 10초 휴식
900명 완료 == 경과시간: 1217초 == 10초 휴식
1000명 완료 == 경과시간: 1267초 == 10초 휴식
1100명 완료 == 경과시간: 1342초 == 10초 휴식
1200명 완료 == 경과시간: 1419초 == 10초 휴식
1300명 완료 == 경과시간: 1543초 == 10초 휴식
1400명 완료 == 경과시간: 1671초 == 10초 휴식
1500명 완료 == 경과시간: 1754초 == 10초 휴식

In [6]:
final = pd.concat([final, final2]).drop_duplicates().reset_index(drop=True)
final = final[final['연도'] != '2021'].reset_index(drop=True)
final

      선수명        생년월일    연도     연봉     WAR
0     김경언  1982-12-07  2001          0.155
1     김경언  1982-12-07  2002  2,500   1.401
2     김경언  1982-12-07  2003  4,300   0.443
3     김경언  1982-12-07  2004  6,500   0.144
4     김경언  1982-12-07  2005  5,000   0.544
...   ...         ...   ...    ...     ...
9347  안병원  1973-10-03  2003  5,500   0.024
9348  강관식  1981-04-12  2005          0.000
9349  이정용  1996-03-26  2020  2,700   0.708
9350  이호중  1992-10-03  2020          0.021
9351  오동욱  2001-02-04  2020         -0.526

[9352 rows x 5 columns]

In [7]:
final.to_csv('연봉데이터/연봉과WAR.csv', index=False, encoding='utf-8-sig')